<section class="container-fluid my-5">
    <div class="row">
        <div class="col-md-4">
          <h1>Correos de Costa Rica</h1>
          <a href="#!/listaCourier" class="btn btn-primary">Lista de Couriers</a>
        </div>
        <div class="col-md-8">
            <h2>Registrar un nuevo courier</h2>
            <div>
              <form ng-submit="vm.registrarCourier(vm.nuevoCourier)" > 
                <!-- Información del nuevo courier  -->
                <div class="my-3">
                    <div class="form-group">
        <div class="">
            <div class="row">
              <div class="col">
                <div class="form-group">
                    <label for="">Nombre del courier</label>
                  <input type="text"id="txtCourierNombre"class="form-control myInput"  ng-model="vm.nuevoCourier.nombreCourier"  required>
                </div>
               </div>
          </div>
         <button type="submit" class="btnGuardar" id="btnGuardar">Guardar</button>
         
        </div>
     </form>      
     </div>
    </div>
  </div>
</section>



  
  
  
  
  