<!-- dark -->
<header>
  <nav class="navbar navbar-expand-lg navbar-dark blueNav">
    <a href="#"><img src="/../sources/img/colibri.svg" alt="" height="60px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navPrincipal" aria-controls="navPrincipal"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navPrincipal">
      <ul class="navbar-nav mr-auto justify-content-end blueNav">
        <li class="nav-item active">
          <a class="nav-link myNavLinks" href="/#!/#nosotros">NOSOTROS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link myNavLinks" href="/#!/#servicios">SERVICIOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link myNavLinks" href="/#!/#nuestrosclientes">NUESTROS CLIENTES</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a href="#!/iniciarSesion"><button class="btn my-2 my-sm-0 btnAction" type="button">Iniciar Sesión</button></a>
      </form>
    </div>
  </nav>
</header>

<body class="gray">
  <!-- hero -->
  <div class="jumbotron-fluid cover d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <h1 class="headlines jumboContent">Ágil y rápidamente entregamos sus paquetes en la puerta de su casa.</h1>
          <a href="/#!/regClientes"><button class="btn btn-lg btnAction my-2 my-sm-0" type="button">Registrarse</button></a>
        </div>
      </div>
    </div>
  </div>

  <!-- Content -->
  <section class="container">
    <div class="row">
      <section id="nosotros">
        <div class="row">
          <div class="col-6 d-flex align-items-center">
            <div class="titular">
              <h2>La mejor experiencia para nuestros clientes.</h2>
              <p>Nuestro compromiso es ofrecer un servicio postal que satisfaga las necesidades de sus clientes y aliados estratégicos, garantizando confianza, experiencia, seguridad y calidad en la entrega.</p>
            </div>
          </div>
          <div class="col-md-6 col-xs-6">
            <img src="/../sources/img/colibriroute.svg" alt="documentos">
          </div>
          <div class="col-md-4 col-xs-4">
            <div class="card gray">
              <div class="card-body text-center"></div>
                <h5 class="card-title">Nuestra Misión</h5>
                <p class="card-text content">Acercar personas, empresas y organizaciones.</p>
              
                <h5 class="card-title">Nuestra Visión</h5>
                <p class="card-text content">Para el 2020 seremos la empresa número uno de logística en Costa Rica a través de soluciones innovadoras.</p>
            </div>
          </div>
          <div class="col-md-8 col-xs-8 text-right">
              <div class="card-body text-center"></div>
                <img src="/../sources/img/IMG_8211.png" alt="documentos" width="555px">
          </div>
        </div>
    </div>
  </section>

      <section id="servicios">
        <h2 class="headlines mb-5 text-center">Servicios</h2>
        <div class="row">
          <div class="col-md-6 col-xs-6">
            <div class="card gray">
              <img src="/../sources/img/tracking-map.svg" alt="documentos" height="200px">
              <div class="card-body text-center">
                <h5 class="card-title">Rastreo de Paquetes</h5>
                <p class="card-text content">Envíe y rastreé con nosotros sus productos a más de 190 países del mundo.</p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-xs-6">
            <div class="card gray">
              <img src="/../sources/img/file.svg" alt="documentos" height="200px">
              <div class="card-body text-center">
                <h5 class="card-title">Documentos Personales</h5>
                <p class="card-text content">Realice su trámite de portación de armas, pasaporte, licencia y cédula de residencia.</p>
              </div>
            </div>
          </div>

        </div>
      </section>

      <hr>

      <section id="nuestrosclientes">
        <h2 class="headlines mb-5 text-center">Nuestros Clientes</h2>
        <div class="row">
          <div class="col-md-4 col-xs-4">
            <div class="card gray">
              <div class="ourTestimonies text-center d-flex align-items-center">
                <img class="card-img-top mx-auto" src="/../sources/img/girl.svg" alt="Sofía" height="120px">
              </div>
              <div class="card-body text-center">
                <h5 class="card-title">Sofía</h5>
                <p class="card-text content">La página es simple y útil. Super fácil de usar, tiene un montón de información, y funciona a la perfección, super rápida y útil, con todo explícito y amigable con el usuario, excelente servicio y muy buena la actualización que ustedes han tenido en sus servicios.</p>
              </div>
            </div> 
          </div>
          <div class="col-md-4 col-xs-4">
            <div class="card gray">
              <div class="ourTestimonies text-center d-flex align-items-center">
                <img class="card-img-top mx-auto" src="/../sources/img/boy.svg" alt="Alex" height="120px">
              </div>
              <div class="card-body text-center">
                <h5 class="card-title">Alex</h5>
                <p class="card-text content">Excelente servicio, rápido y económico. Me mandaron un paquete desde malaga y al día siguiente lo tenia en casa a las 11 de la mañana. .</p>
              </div>
            </div> 
          </div>
          <div class="col-md-4 col-xs-4">
            <div class="card gray">
              <div class="ourTestimonies text-center d-flex align-items-center">
                <img class="card-img-top mx-auto" src="/../sources/img/girl.svg" alt="Vivian" height="120px">
              </div>
              <div class="card-body text-center">
                <h5 class="card-title">Vivian</h5>
                <p class="card-text content">Tenía un poco de miedo de que mi envío no llegase, al leer tantas críticas negativas. Pero tengo que decir que todo excelente. Hice el envío desde su página y todo perfecto. Entrega en dos días y todo perfecto. Precio por varios paquetes muy económico.</p>
              </div>
            </div> 
          </div>
        </div>
      </section>
    </div>
  </section>

  <!-- Footer -->
  <footer>
    <section class="container-fluid">
      <div class="row">
        <div class="col-4 d-flex align-items-center">
          <img src="/../sources/img/logo_white.svg" alt="" height="100px">
        </div>
    
        <div class="col-4 d-flex align-items-center justify-content-center navFooter">
          <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="/#!/#nosotros">Nosotros</a></li>
            <li><a href="/#!/#servicios">Servicios</a></li>
            <li><a href="/#!/#nuestrosclientes">Nuestros Clientes</a></li>
          </ul>
        </div>
    
        <div class="col-4 text-center d-flex align-items-center">
          <div class="contactoFooter">
            <div>
              <h3 class="titularContacto">Contacto</h3>
            </div>
            <div>
              <a href="#"><img src="/../sources/img/twitter.svg" alt="" width="10%" height="10%"></a>
              <a href="#"><img src="/../sources/img/facebook.svg" alt="" width="10%" height="10%"></a>
              <a href="#"><img src="/../sources/img/instagram.svg" alt="" width="10%" height="10%"></a> 
            </div>
          </div>
        </div>
      </div>
    </section>
  </footer>
</body>
