@import "../setting";

#registroPrealertas{
  .contenido{
    background-color: $white;
    max-height: 100vh;
    overflow: scroll;
  }
  
  .panelIzquierdo{
    background-image: $background;
<<<<<<< HEAD
=======
    background-size: cover;
>>>>>>> origin/Christine
    color: $white;
    min-height: 100vh;
  }
  
  .btnAccion{
    background-color: $slateblue;
    color: $white;
  }
<<<<<<< HEAD

  .btnAccion{
    background-color: $slateblue;
    color: $white;
  }

=======
  
>>>>>>> origin/Christine
  h1,h2{
    font-family: $fuenteTitulos;
    }

  h3,p,label{
    font-family: $fuenteContenido;
  }
<<<<<<< HEAD

  textarea{
    resize: none;
  }
=======
>>>>>>> origin/Christine
}