<main id="registrarPaquetes">
<div class="container-fluid">
  <div class="row">

      <div class="col-md-3 py-5 px-5 panelIzquierdo">
          <img src="../../../sources/img/logo_slateblue.svg" class="" alt="">
          <a href="/#!/listarPaquetesEmpleado" class="btn btnAccion mt-4">Lista de Paquetes</a>
      </div>

      <div class="col-md-8 py-5 px-5 contenido">
        <h2>Registro de Paquetes</h2>
     

      <div class="col-md-6">
          <form name="formRegistrarSucursales" autocomplete="off" ng-submit="vm.registrarPaquetes(vm.nuevoPaquetes)" novalidate>

            <div class="form-group">
              <label for="">Número de tracking</label>
              <input type="text" class="form-control myInput" ng-model="vm.nuevoPaquetes.tracking" required>
            </div>
            
            <div class="form-group">
              <label for="sltCliente">Dueño del paquete:</label>
              <select id="sltCliente" class="form-control" ng-options="cliente as cliente.getNombreCompleto() for cliente in vm.listaClientes track by cliente.nombre" ng-model="vm.nuevoConvenio.cliente" required>
                <option></option>
              </select>
            </div>

            <div class="form-group">
                <label for="">Peso</label>
                <input type="text" class="form-control myInput" ng-model="vm.nuevoPaquetes.peso" required>
            </div>

            <div class="form-group">
                <label for="">Valor</label>
                <input type="number" class="form-control myInput" ng-model="vm.nuevoPaquetes.valor" required>
            </div>

            <div class="form-group">
              <label for="">Repartidor</label>
              <input type="text" class="form-control myInput" ng-model="vm.nuevoPaquetes.repartidor" required>
          </div>
            <div class="form-group">
                   <label for="">Estado de paquete</label>
            <select class="selectpicker form-control myInput" ng-model="vm.nuevoPaquetes.estado">
                <option>En proceso de almacenaje</option>
                <option>En tránsito al centro de distribución</option>
                <option>Entregado</option>
              </select>
            </div>

            <button type="submit" class="btn btnAccion" ng-click="vm.registrarPaquetes()">Registrar</button>

          </form>
      </div>
  </div>
</div>
</div>
</main>