<main>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Correos de Costa Rica</h2>
      </div>
      <div class="col-md-8">
        <div>
          <table class="table">
            <thead>
                <tr>
                  <th>Provincia</th>
                  <th>Cantón</th>
                  <th>Distrito</th>
                  <th>Dirección exacta</th>
                  <th>Teléfono</th>
                  <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
              <tr ng-repeat="sucursal in vm.listaSucursales">
                <td>{{sucursal.provincia}}</td>
                <td>{{sucursal.canton}}</td>
                <td>{{sucursal.distrito}}</td>
                <td>{{sucursal.direccion}}</td>
                <td>{{sucursal.telefono}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>