<!--<navegacion-Principal></navegacion-Principal>-->
<main id="registroTipoProducto">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 py-5 px-5 panelIzquierdo">
        <img type="image/svg+xml" src="./../../../sources/img/Group 97.svg" class="mt-5">
        <a href="/#!/registrarTipoProducto" class="btn btn-light">Regresar</a>
      </div>
      <div class="col-md-8 py-5 px-5 contenido">
          <div class="col-6">
           <h2>Tipos de productos</h2>
          <label for="txtBuscar">Buscar</label>
          <input type="text" id="txtBuscar" class="form-control" ng-model="buscarTipoProducto">
        </div>
        <div class="col-12">
          <table class="table">
            <thead>
             <tr>
              <th>Tipo de producto</th>
              <th>Impuesto asignado</th> 
             </tr>
          </thead>
<tbody>
  <tr ng-repeat="tipoProducto in  vm.listaTipoProductos | filter:buscarTipoProducto">
    <td>{{tipoProducto.nombreTipoProducto}}</td>
    <td>{{tipoProducto.impuesto}}</td>
  <td>
    <li class="nav-item dropdown btnAccion" style="list-style:none">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Acciones</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#!/modificarTipoProducto">Modificar tipo de producto</a>
        <a class="dropdown-item" href="">Eliminar tipo de producto</a>
      </div>
    </li>
  </td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</main>

