

<section class="container-fluid my-5">
    <div class="row">
        <div class="col-md-4">
          <h1>Correos de Costa Rica</h1>
          <a href="#!/ListaTipoProducto" class="btn btn-primary">Lista de tipos de productos</a>
        </div>
        <div class="col-md-8">
            <h2>Registrar un nuevo tipo de producto </h2>
            <div>
              <form ng-submit=" vm.registrarTipoProducto(vm.nuevoTipoProducto)">
                <!-- Información del nuevo tipo de producto  -->
                <div class="my-3">
                    <h3>Información del nuevo tipo de producto</h3>
                    <div class="form-group">
        <div class="">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="">Nombre del tipo de producto</label>
                  <input type="text"id="txtTipoProductoNombre"class="form-control myInput"  ng-model="vm.nuevoTipoProducto.nombreTipoProducto"  required>
                </div>

               </div>
               <div class="col">
                  <div class="form-group">
                   <label for="">Impuesto del tipo de producto</label>
                   <input type="number" min="0" id="txtImpuesto" class="form-control myInput" ng-model="vm.nuevoTipoProducto.impuesto" required>
                  </div>
                </div>
          </div>
         <button type="submit" class="btnGuardar" id="btnGuardar">Guardar</button>
         
        </div>
     </form>      
     </div>
    </div>
  </div>
</section>


