<main id="registrarClientes">
<section class="container-fluid">
    <div class="row">
      <div class="col-md-4 py-5 px-5 panelIzquierdo">
        <a href="#!/empleado"><img src="../../../sources/img/chevron-left.svg" height="30px" width="30px" alt="">Regresar al dashboard</a>
        <img src="../../../sources/img/logo_slateblue.svg" class="my-5" alt="">
        <a href="#!/regClientesEmpleado" class="btn btnAccion">Registrar Clientes</a>
      </div>
      <div class="col-md-8 py-5 px-5 contenido">
        <h2>Lista de Clientes</h2>
        <div class="form-group">
          <label for="inputBuscar">Buscar cliente</label>
          <input type="text" class="form-control" id="inputBuscar" ng-model="buscarCliente.nombre">
          </div>
        <table class="table">
          <thead>
            <tr>
              <th>Nº Identificación</th>
              <th>Nombre</th>
              <th>1er Apellido</th>
              <th>Correo Electrónico</th>
              <th>Teléfono</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="cliente in vm.listaClientes | filter:buscarCliente">
              <td>{{cliente.identificacion}}</td>
              <td>{{cliente.nombre}}</td>
              <td>{{cliente.apellido1}}</td>
              <td>{{cliente.email}}</td>
              <td>{{cliente.telefono}}</td>
              <td>
                <li class="nav-item dropdown btnAccion" style="list-style:none">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Acciones</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" ng-click="vm.modificar(cliente)">Modificar Cliente</a>
                    <a class="dropdown-item" ng-click="vm.desactivar(cliente)">Desactivar Cliente</a>
                  </div>
                </li>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</main>