<div class="container">
<div class="row">
    <div class="col-md-6">
            <a href="/#!/convenios" class="btn btn-light">Regresar</a>
        <div class="col-md-6">
              <input ng-model="searchText" class="form-control" placeholder="Buscar convenio" >
             
        </div>
      <table class="table">
              <thead>
                      <tr>
                          <th>Institución</th>
                          <th>Tipo</th>
                          <th>Tiempo</th>
                          <th>Costo</th>
                          <th>Acciones</th>
                      </tr>
                      
                  </thead>
                  
                  <tbody>
                    <tr ng-repeat="convenios in vm.listaConvenios | filter:searchText">
                      <td>{{convenios.nombreInstitucion}}</td>
                      <td>{{convenios.tipo}}</td>
                      <td>{{convenios.tiempo}}</td>
                      <td>{{convenios.costo}}</td>
                      <td>
                            <li class="nav-item dropdown" style="list-style:none">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Acciones</a>
                                    <div class="dropdown-menu">
                                      <a class="dropdown-item" href="/#!/modificar-convenios">Modificar convenio</a>
                                      <a class="dropdown-item" href="">Eliminar convenio</a>

                      </td>
                      
                      <td>
                          <!--aqui va boton de asignar repartidor -->
                        </td>
                      
                    </tr>
                  </tbody>
      </table>
    </div>

</div>
</div>