<navegacion-Principal></navegacion-Principal>

<main id="registroSucursales">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 py-5 px-5 panelIzquierdo">
          <img src="../../../sources/img/logo_slateblue.svg" class="mt-5" alt="">
        </div>
  
        <div class="col-md-9 py-5 px-5 contenido">
          <div class="col-6">
            <h2> Sucursales</h2>
  
            <form name="formRegistrarSucursales" autocomplete="off" ng-submit="vm.modificarSucursal(vm.nuevaSucursal)" novalidate>
              
              <div class="form-group">
                <label for="txtProvincia">Provincia:</label>
                <!-- <select id="sltProvincia" name="sltProvincia" class="form-control" ng-change="vm.rellenarCantones(vm.nuevaSucursal.provincia._id)" ng-options="provincia as provincia.name for provincia in vm.provincias track by provincia._id"
                ng-model="vm.nuevaSucursal.provincia" disabled>
                  <option></option>
                </select> -->
                <input type="text" name="provincia" class="form-control" id="txtProvincia" ng-model="vm.nuevaSucursal.provincia" required>
              </div> 
  
              <div class="form-group">
                <label for="txtCanton">Cantón:</label>
                <!-- <select id="sltCanton" name="sltCanton" class="form-control" ng-change="vm.rellenarDistrito(vm.nuevaSucursal.canton._id)" ng-options="canton as canton.name for canton in vm.cantones track by canton._id" ng-model="vm.nuevaSucursal.canton" disabled>
                  <option></option>
                </select> -->

                <input type="text" name="canton" class="form-control" id="txtCanton" ng-model="vm.nuevaSucursal.canton" required>
              </div>
  
              <div class="form-group">
                <label for="txtDistrito">Distrito:</label>
                <!-- <select id="sltDistrito" name="sltDistrito" class="form-control" ng-options="distrito as distrito.name for distrito in vm.distritos track by distrito._id" ng-model="vm.nuevaSucursal.distrito" disabled>
                  <option></option>
                </select> -->

                <input type="text" name="distrito" class="form-control" id="txtDistrito" ng-model="vm.nuevaSucursal.distrito" required>
              </div>
  
              <div class="form-group">
                <label for=txtDireccion"">Dirección exacta:</label>
                <textarea type="text" name="direccion" class="form-control" id="txtDireccion" ng-model="vm.nuevaSucursal.direccion" rows="3" required></textarea>
              </div>
  
              <div class="form-group">
                <label for=txtTelefono"">Teléfono</label>
                <input type="tel" name="telefono" class="form-control" id="txtTelefono" ng-model="vm.nuevaSucursal.telefono" pattern="[0-9]+" maxlength="8" minlength="8" required>
              </div>
  
              <button type="submit" class="btn btnAccion">Guardar cambios</button>
  
              <a href="/#!/listarSucursal" class="btn btn-light">Cancelar</a>
            </form>
          </div>
  
          <div class="col-6">

          </div>
        </div>
      </div>
    </div>
  </main>