<main id="registroSucursales">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 py-5 px-5 panelIzquierdo">
                <img src="../../../sources/img/logo_slateblue.svg" class="my-5" alt="">
          <a href="/#!/registrarCanton" class="btn btnAccion">Regresar</a>
  
        </div>
        <div class="col-md-9 py-4 px-4 contenido">
          <h2>Lista de cantones</h2>
         
  
          <div class="form-group col-md-8">
              <label for="txtBuscar">Buscar</label>
              <input type="text" id="txtBuscar" class="form-control" ng-model="buscarCanton">
          </div>
  <div class="col-9">
      <table class="table">
      <thead>
          <tr>
              <th>Nombre del cantón</th> 
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="canton in  vm.listaCantones| filter:buscarCanton">
              <td>{{canton.nombreCanton}}</td>
          
            </tr>     
      </tbody>
    </table>
  </div>
  </div>
  </div>
  </main>