<navegacion-Principal></navegacion-Principal>

<main id="cliente">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 py-5 px-5 panelIzquierdo">
        <img type="image/svg+xml" src="/../sources/img/logo_white.svg" class="mt-5">
      </div>

      <div class="col-md-9 py-4 px-4 contenido">
        <div class="row">
          <div class="col-6">
            <div class="col-md-6 col-xs-6">
              <p><a href="#!/registroPrealerta"><button class="btn btn-lg btnAction my-2 my-sm-0" type="button">Prealertar un Paquete&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="arrow right"></i></button></a></p>
              <p><a href="#!/registrarConvCliente"><button class="btn btn-lg btnAction my-2 my-sm-0" type="button">Solicitar un Convenio&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="arrow right"></i></button></a></p>
              <p><a href="#!/listarPaquetesCliente"><button class="btn btn-lg btnAction my-2 my-sm-0" type="button">Mis Paquetes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="arrow right"></i></button></a></p>
            </div>
          </div>
          <div class="col-md-2 col-xs-2">
            <img src="/../sources/img/delivery-man.svg" alt="documentos" height="300px">
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</main>