<main id="registrarPaquetes">
<div class="container-fluid">
    <div class="row">

            <div class="col-md-3 py-5 px-5 panelIzquierdo">
                    <a href="#!/empleado"><img src="../../../sources/img/chevron-left.svg" height="30px" width="30px" alt="">Regresar al dashboard</a>
                    <img src="../../../sources/img/logo_slateblue.svg" class="mt-5" alt="">
            </div>

            <div class="col-md-8 py-5 px-5 contenido">
                    <h2>Lista de Paquetes</h2>
                  <input ng-model="searchText" class="form-control" placeholder="Buscar paquete" >
                 
           
            <table class="table">
                <thead>
                        <tr>
                            <th>N. Tracking</th>
                            <th>Dueño paquete</th>
                            <th>Peso</th>
                            <th>Valor</th>
                            <th>Repartidor</th>
                            <th>Estado de paquete</th>
                            <th>Modificar de paquete</th>
                            <th>Acciones</th>
                        </tr>
                        
                    </thead>
                    
                    <tbody>
                      <tr ng-repeat="paquetes in vm.listaPaquetes | filter:searchText">
                        <td>{{paquetes.tracking}}</td>
                        <td>{{paquetes.nombre}}</td>
                        <td>{{paquetes.peso}}</td>
                        <td>{{paquetes.valor}}</td>
                        <td>{{paquetes.repartidor}}</td>
                        <td>{{paquetes.estado}}</td>
                        <td>
                                <li class="nav-item dropdown" style="list-style:none">
                                    <a class="nav-link dropdown-toggle btn btnAccion" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Estado</a>
                                    <div class="dropdown-menu">
                                      <a class="dropdown-item" href="/#!/cambiarEstadoPaquetes" ng-click="vm.modificarEstado(paquetes)">Cambiar Estado</a>
                            
    
                            </td>
                        <td>
                            <li class="nav-item dropdown" style="list-style:none">
                                <a class="nav-link dropdown-toggle btn btnAccion" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Acciones</a>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="/#!/modificarPaquetes" ng-click="vm.modificar(paquetes)"  >Modificar paquete</a>
                                  <a class="dropdown-item" href="">Eliminar paquete</a>

                        </td>
                        
                        <td>
                            <!--aqui va boton de asignar repartidor -->
                          </td>
                        
                      </tr>
                    </tbody>
        </table>
        </div>
    </div>
    </div>
    </div>
</main>