<div class="container">
  <div class="row">
      <div class="col-md-6">
        <h2>Registro de Paquetes</h2>
      </div>

      <div class="col-md-6">
          <form ng-submit="vm.registrarPaquetes(vm.nuevoPaquetes)">

            <div class="form-group">
              <label for="">Número de tracking</label>
              <input type="number" class="form-control" ng-model="vm.nuevoPaquetes.tracking" required>
            </div>
            
            <div class="form-group">
                <label for="">Dueno de paquete</label>
                <input type="text" class="form-control" ng-model="vm.nuevoPaquetes.nombre" required>
            </div>

            <div class="form-group">
                <label for="">Peso</label>
                <input type="text" class="form-control" ng-model="vm.nuevoPaquetes.peso" required>
            </div>

            <div class="form-group">
                <label for="">Valor</label>
                <input type="number" class="form-control" ng-model="vm.nuevoPaquetes.valor" required>
            </div>

            <button type="submit" class="btn btn-success">Registrar</button>
          </form>
      </div>
  </div>

  <div class="row">
      <div class="col-md-6">
        <table class="table">
                <thead>
                        <tr>
                            <th>N. Tracking</th>
                            <th>Dueño paquete</th>
                            <th>Peso</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="paquetes in vm.listaPaquetes">
                        <td>{{paquetes.tracking}}</td>
                        <td>{{paquetes.nombre}}</td>
                        <td>{{paquetes.peso}}</td>
                        <td>{{paquetes.valor}}</td>
                        
                        <td>
                            <!--aqui va boton de asignar repartidor -->
                          </td>
                        
                      </tr>
                    </tbody>
        </table>
      </div>

  </div>
</div>