<!-- <navegacion-Principal></navegacion-Principal> -->

<main id="registroPrealertas">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 py-5 px-5 panelIzquierdo">
        <img src="../../../sources/img/logo_slateblue.svg" class="" alt="">
      </div>

      <div class="col-md-9 py-5 px-5 contenido">
        <div class="col-6">
          <h2>Modificar prealerta </h2>
          <form name="formRegistrarPrealerta" autocomplete="off" ng-submit="vm.modificarPrealerta(vm.nuevaPrealerta)" novalidate>

            <div class="form-group">
              <label for="txtTracking">Tracking:</label>
              <input type="text" class="form-control" id="txtTracking" ng-model="vm.nuevaPrealerta.tracking" required>
            </div>
      
            <div class="form-group">
              <label for="txtUrl">URL del producto:</label>
              <input type="text" class="form-control" id="txtUrl" ng-model="vm.nuevaPrealerta.url" required>
            </div>
            
            <div class="form-group">
              <label for="txtTipoProducto">Tipo de producto:</label>
                <input type="text" class="form-control" id="txtTipoProducto" ng-model="vm.nuevaPrealerta.tipoProducto" list="listaProductos" required>
                <datalist id="listaProductos">
                  <option data-ng-repeat="tipoProducto in vm.tipoProducto" value="{{tipoProducto}}">
              </datalist>
            </div>
      
            <div class="form-group">
              <label for=txtValor"">Valor del paquete:</label>
              <input type="text" class="form-control" id="txtValor" ng-model="vm.nuevaPrealerta.valor" required>
            </div>
      
            <div class="form-group">
              <label for=txtPeso"">Peso del paquete:</label>
              <input type="text" class="form-control" id="txtPeso" ng-model="vm.nuevaPrealerta.peso" required>
            </div>
      
            <div class="form-group">
              <label for="txtCourier">Courier:</label>
              <input type="text" class="form-control" id="txtCourier" ng-model="vm.nuevaPrealerta.courier" list="listaCourier" required>
              <datalist id="listaCourier">
                <option data-ng-repeat="courier in vm.courier" value="{{courier}}">
              </datalist>
            </div>
      
            <button type="submit" class="btn btnAccion">Guardar cambios</button>

            <a href="/#!/listarPrealerta" class="btn btn-light">Cancelar</a>
          </form>
        </div>

        <div class="col-6"></div>
      </div>
    </div>
  </div>
</main>