<main id="registroConvenioClientes">
  <div class="container-fluid">
      <div class="row">

          <div class="col-md-4 py-5 px-5 panelIzquierdo">
              <h2>Correos de Costa Rica</h2>
            </div>

          <div class="col-md-8 py-5 px-5 contenido">
            <h2>Editar Convenio</h2>
          
  
      
              <form name="formRegistrarConvenios" autocomplete="off" ng-submit="vm.modificarConvenios(vm.nuevoConvenios)" novalidate>
  
                <div class="form-group">
                  <label for="">Nombre de la institución</label>
                  <input type="text" class="form-control myInput" ng-model="vm.nuevoConvenios.nombreInstitucion" required>
                </div>
                
                <div class="form-group">
                    <label for="">Tipo de convenio</label>
                    <input type="text" class="form-control myInput" ng-model="vm.nuevoConvenios.tipo" required>
                </div>
  
                <div class="form-group">
                    <label for="">Tiempo de convenio</label>
                    <input type="text" class="form-control myInput" ng-model="vm.nuevoConvenios.tiempo" required>
                </div>
  
                <div class="form-group">
                    <label for="">Costo de trasporte</label>
                    <input type="number" class="form-control myInput" ng-model="vm.nuevoConvenios.costo" required>
                </div>
  
                <button type="submit" class="btn btnAccion" >Guardar cambios</button>
                <a href="/#!/lista-convenios" class="btn btn-light">Cancelar</a>
              </form>
          </div>
        </div>
  </div>
  </main>