<!-- <navegacion-Principal></navegacion-Principal> -->

<main id="registroSucursales">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 py-5 px-5 panelIzquierdo">
        <a href="#!/empleado"><img src="../../../sources/img/chevron-left.svg" height="30px" width="30px" alt="">Regresar al dashboard</a>
        <img src="../../../sources/img/logo_slateblue.svg" class="mt-5" alt="">
      </div>
      <div class="col-md-8 py-5 px-5 contenido">
        <h2>Convenios Cliente</h2>

        <div class="form-group">
          <label for="txtBuscar">Buscar</label>
          <input type="text" id="txtBuscar" class="form-control" ng-model="buscarConvenio">
        </div>

        <table class="table">
          <thead>
              <tr>
                <th>Servicio</th>
                <th>Cliente</th>
                <th>Dirección</th>
                <th>Aciones</th>
              </tr>
          </thead>
          <tbody>
            <tr ng-repeat="convenio in vm.listaConvClientes | filter:buscarConvenio">
              <td>{{convenio.servicio}}</td>
              <td>{{convenio.cliente.nombre}}</td>
              <td>{{convenio.direccion}}</td>
              <td>
                <li class="nav-item dropdown btnAccion" style="list-style:none">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Acciones</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="" ng-click="vm.modificar(convenio)">Modificar convenio</a>
                    <a class="dropdown-item" href="">Desactivar convenio</a>
                  </div>
                </li>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>