<h1>Registro de Licencias</h1>

<div>

  <div class="col-6 my-4">
  <form ng-submit="vm.registrarEstadoPaquete(vm.nuevoEstadoPaquete)">
      <div class="form-group">
          <label for="sltEstado">Estado</label>
          <select id="sltEstado" class="form-control" name="sltEstado" ng-change="vm.rellenarCategorias(vm.nuevoEstadoPaquete.estado._id)" ng-options="estado as estado.name for estado in vm.estado track by estado._id" ng-model="vm.nuevoEstadoPaquete.estado" required>
            <option value="">-- Seleccione un Estado --</option>
          </select>
          <div ng-messages="formRegistroUsuarios.sltEstado.$error" role="alert">
            <div ng-message="required">
              <small class="form-text text-muted">Este campo es requerido</small>
            </div>
          </div>
        </div>

      <button type="submit" class="btn btn-success">Registrar</button>
      
    </form>
  </div>

</div>

<div class="col-12">
  <table class="table">
    <thead>
        <tr>
          <th>Estado</th>
        </tr>
    </thead>
    <tbody>
      <tr ng-repeat="estadoPaquete in vm.listaEstadoPaquete">
        <td>{{estadoPaquete.estado.name}}</td>
      </tr>
    </tbody>
  </table>
</div>
