<main id="registrarClientes">
<section class="container-fluid">
  <div class="row">
    <div class="col-md-4 py-5 px-5 panelIzquierdo">
      <a href="#!/admin"><img src="../../../sources/img/chevron-left.svg" height="30px" width="30px" alt="">Regresar al Dashboard</a>
      <img src="../../../sources/img/logo_slateblue.svg" class="my-5" alt="">
      <a href="#!/mantClientes" class="btn btnAccion">Lista de Clientes</a>
    </div>
    <div class="col-md-8 py-5 px-5 contenido">
      <h2>Registrar Clientes</h2>
      <form ng-submit="vm.registrarCliente(vm.nuevoCliente)" class="col-md-8">
        <!-- Información Personal -->
        <div class="my-3">
          <h3>Información Personal</h3>
          <div class="form-group">
            <label for="inputIdentificacion">Nº de Identificación:</label>
            <input type="number" class="form-control" id="inputIdentificacion" ng-model="vm.nuevoCliente.identificacion" required>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputNombre">Nombre</label>
              <input type="text" class="form-control" id="inputNombre" ng-model="vm.nuevoCliente.nombre" required>
            </div>
            <div class="form-group col-md-6">
              <label for="inputApellido1">Primer Apellido</label>
              <input type="text" class="form-control" id="inputApellido1" ng-model="vm.nuevoCliente.apellido1" required>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail">Correo Electrónico:</label>
              <input type="email" class="form-control" id="inputEmail" ng-model="vm.nuevoCliente.email" required>
            </div>
            <div class="form-group col-md-6">
              <label for="inputContrasenna">Contraseña:</label>
              <input type="password" class="form-control" id="inputContrasenna" ng-model="vm.nuevoCliente.contrasenna" required>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputFechaNacimiento">Fecha de Nacimiento</label>
              <input type="date" class="form-control" id="inputFechaNacimiento" ng-model="vm.nuevoCliente.fechaNacimiento" required>
            </div>
            <div class="form-group col-md-6">
              <label for="inputTelefono">Teléfono</label>
              <input type="number" class="form-control" id="inputTelefono" ng-model="vm.nuevoCliente.telefono" required>
            </div> 
          </div>
        </div>
        <!-- Direccion -->
        <div class="my-3">
          <h3>Dirección</h3>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputProvincia">Provincia</label>
              <input type="text" class="form-control" id="inputProvincia" ng-model="vm.nuevoCliente.provincia" required>
            </div>
            <div class="form-group col-md-4">
              <label for="inputCanton">Cantón</label>
              <input type="text" class="form-control" id="inputCanton" ng-model="vm.nuevoCliente.canton" required>
            </div>
            <div class="form-group col-md-4">
              <label for="inputDistrito">Distrito</label>
              <input type="text" class="form-control" id="inputDistrito" ng-model="vm.nuevoCliente.distrito" required>
            </div>
          </div>
          <div class="form-group">
            <label for="inputDireccion">Dirección exacta:</label>
            <textarea class="form-control" id="inputDireccion" rows="3" ng-model="vm.nuevoCliente.direccion" required></textarea>
          </div>
        </div>

        <div class="my-3">
          <h3>Información de Pago</h3>
          <!-- Otros datos -->
          <div class="form-group">
            <label for="inputTitularTarjeta">Titular de la tarjeta</label>
            <input type="text" class="form-control" id="inputTitularTarjeta" ng-model="vm.nuevoCliente.titularTarjeta" required>
          </div>
          <div class="form-group">
            <label for="inputNumeroTarjeta">Numero de tarjeta:</label>
            <input type="number" class="form-control" id="inputNumeroTarjeta" ng-model="vm.nuevoCliente.numeroTarjeta" required>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputMesVencimiento">Mes</label>
              <input type="text" class="form-control" id="inputMesVencimiento" ng-model="vm.nuevoCliente.mesVencimiento" required>
            </div>
            <div class="form-group col-md-4">
              <label for="inputAnnoVencimiento">Año</label>
              <input type="number" class="form-control" id="inputAnnoVencimiento" ng-model="vm.nuevoCliente.annoVencimiento" required>
            </div>
            <div class="form-group col-md-4">
              <label for="inputCcv">Codigo de Seguridad (CCV)</label>
              <input type="number" class="form-control" id="inputCcv" ng-model="vm.nuevoCliente.ccv" required>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btnAccion">Registrar Cliente</button> 
    </form>
  </div>
</section>
</main>
  