<navegacion-Principal></navegacion-Principal>

<main id="admin">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 py-5 px-5 panelIzquierdo">
        <img type="image/svg+xml" src="/../sources/img/logo_white.svg" class="mt-5">
      </div>

      <div class="col-md-9 py-4 px-4 contenido">
        <div class="row">
          <div class="col-6">
            <div class="col-md-6 col-xs-6">
              <p><a href="#!/regEmpleados"><button class="btn btn-lg btnAction my-2 my-sm-0" type="button">Empleados&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="arrow right"></i></button></a></p>
              <p><a href="#!/regClientesAdmin"><button class="btn btn-lg btnAction my-2 my-sm-0" type="button">Clientes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="arrow right"></i></button></a></p>
              <p><a href="#!/registrarCourier"><button class="btn btn-lg btnAction my-2 my-sm-0" type="button">Couriers&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="arrow right"></i></button></a></p>
              <p><a href="#!/registroSucursal"><button class="btn btn-lg btnAction my-2 my-sm-0" type="button">Sucursales&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="arrow right"></i></button></a></p>
              <p><a href="#!/registrarTipoProducto"><button class="btn btn-lg btnAction my-2 my-sm-0" type="button">Tipo Productos&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="arrow right"></i></button></a></p>
              <p><a href="#!/convenios"><button class="btn btn-lg btnAction my-2 my-sm-0" type="button">Convenios&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="arrow right"></i></button></a></p>
              <p><a href="#!/listarPaquetesAdmin"><button class="btn btn-lg btnAction my-2 my-sm-0" type="button">Paquetes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="arrow right"></i></button></a></p>
              <p><a href="#!/consultarBitacora"><button class="btn btn-lg btnAction my-2 my-sm-0" type="button">Bitácora&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="arrow right"></i></button></a></p>
            </div>
          </div>
          <div class="col-md-2 col-xs-2">
            <img src="/../sources/img/box.svg" alt="documentos" height="300px">
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</main>