<!-- <navegacion-Principal></navegacion-Principal> -->

<main id="registroSucursales">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 py-5 px-5 panelIzquierdo">
            <img src="../../../sources/img/logo_slateblue.svg" class="mt-5" alt="">
          </div>
  
        <div class="col-md-8 py-5 px-5 contenido">
          <div class="col-8">
            <h2 class="titulares">Convenios</h2>
            <form name="formSolicitarConvenio" autocomplete="off" ng-submit="vm.modificarConvenio(vm.nuevoConvenio)" novalidate>

            <div class="form-group">
                <label for="formGroupExampleInput">Servicio:</label>
                <input type="text" class="form-control" id="formGroupExampleInput" ng-model="vm.nuevoConvenio.servicio" list="listaServicios">
                <datalist id="listaServicios">
                  <option data-ng-repeat="servicio in vm.servicio" value="{{servicio}}"></option>
                </datalist>
              </div>

              <div class="form-group">
                <label for="sltCliente">Cliente:</label>
                <!-- <select id="sltCliente" class="form-control" ng-options="cliente as cliente.nombre for cliente invm.listaClientes track by cliente.nombre" ng-model="vm.nuevoConvenio.cliente" required>
                  <option></option>
                </select> -->
              </div>
                
              <div class="form-group">
                <label for="">Dirección</label>
                <textarea type="text" class="form-control" ng-model="vm.nuevoConvenio.direccion" rows="4" required></textarea>
              </div>

            <button type="submit" class="btn btn-info">Guardar cambios</button>

            <a href="/#!/listarConvCliente" class="btn btn-light">Cancelar</a>
          </form>
        </div>
        </div>
      </div>
      <div class="col-6"></div>
      </div>
    </div>
  </div>
</div>
</main>